.devices {
  text-align: center;
  text-shadow: 0 0 4px #ffffff7a;
  > .list {
    width: 50%;
    margin: 0 auto;
    > .title {
      margin-bottom: 20px;
      color: #685d8c;
      font-size: 2em;
      text-shadow: 0 0 5px #ffffff;
    }
    > .device {
      > * {
        display: block;
        margin: 0 auto;
      }
      > .name, .editname {
        font-size: 1.3em;
      }
      > .editname {
        border: none;
        text-align: center;
      }
      > .name {
        > .edit {
          user-select: none;
          border: none;
          margin: none;
          outline: none;
          cursor: pointer;
          filter: opacity(30%);
          &:hover {
            filter: none;
          }
        }
      }
    }
  }
}
