.devices {
  text-align: center;
  text-shadow: 0 0 4px #ffffff7a;
  > .list {
    width: 50%;
    margin: 0 auto;
    > .title {
      color: #685d8c;
      font-size: 2em;
      text-shadow: 0 0 5px #ffffff;
    }
    > .device {
      margin: 10px 0;
      padding: 10px 0;
      border: 2px solid #696279;
      border-width: 2px 0;
      background: linear-gradient(to right, transparent, #9881d038, #9881d038, transparent);
      > .name {
        text-shadow: 0 0 5px #ffffff;
        color: #40468c;
        > .edit {
          user-select: none;
          border: none;
          margin: none;
          outline: none;
          cursor: pointer;
          filter: opacity(30%);
          &:hover {
            filter: none;
          }
        }
      }
      > .id {
        color: #32376f;
      }
    }
  }
}
