.devices {
  text-align: center;
  > .list {
    width: 50%;
    margin: 0 auto;
    > .title {
      color: #685d8c;
      font-size: 2em;
    }
    > .device {
      margin: 10px 0;
      padding: 10px 0;
      border: 2px solid #696279;
      border-width: 2px 0;
      background: linear-gradient(to right, transparent, #9881d038, #9881d038, transparent);
    }
  }
}
