header.main {
  border: 3px double black;
  border-width: 3px 0;
  position: relative;
  height: 70px;
  background-color: #3e3e3e;
  color: white;
  line-height: 70px;
  & > * {
    display: inline-block;
  }
  & > *:first-child {
    margin-left: 50px
  }
  .site-title {
    font-family: 'Playfair Display', serif;
  }
  .auth {
    position: absolute;
    right: 20px;
    line-height: 70px;
  }
}
