header.main {
  font-family: 'Merriweather', serif;
  //border: 3px double #b1b3d0;
  //border-width: 3px 0;
  position: relative;
  height: 70px;
  //background: linear-gradient(to top, #a09afd3d, #c9c9f75e);
  color: #505094;
  line-height: 70px;
  padding: 0 50px;
  background-color: #ffffff73;
  & > *:not(:last-child), .right > *:not(:last-child) {
    margin-right: 60px;
  }
  a {
    text-decoration: inherit;
  }
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
  .site-title {
    vertical-align: top;
    font-family: 'Playfair Display', serif;
  }
  .right {
    position: absolute;
    right: 70px;
    line-height: 70px;
  }
}
