* {
  margin: 0;
  padding: 0;
}
form > * {
  display: block;
  margin: 20px auto;
  text-align: center;
}
a {
  color: inherit;
}
.info {
  box-shadow: 2px 2px 4px #0000003b;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 30px;
  background: linear-gradient(to top, #060f7d38, transparent, transparent);
  border-bottom: 4px solid #282ede6b;
  border-radius: 2px;
  text-align: center;
}
button, input[type="submit"] {
  font-size: inherit;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #514c96;
  color: inherit;
  border-radius: 2px;
}
textarea:focus, input:focus{
    outline: none;
}
input[type="submit"]:hover {
  cursor: pointer;
}
input {
  font-size: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #685d94;
  color: inherit;
}
// input:not([type]), input[type="password"] {
//   -webkit-box-shadow: 0 0 0 30px white inset !important;
// }
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#root, .app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
